<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <!--OrderPlaced消息(PlaceOrderHandler中)应当发送至FirstSample.Server-->
      <!--<add Assembly="FirstSampe.Messages" Type="FirstSampe.Messages.OrderPlaced" Endpoint="FirstSample.Server" />-->
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>